/.idea/
*.iml
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
app/python-api/lib/
go.mod
go.sum
vendor/
tmp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### python-api ###
app/profiles.zip
app/python-api/
